body{
	background-image: url("../images/map.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x:hidden;
	/*background-color: #427AA1 !important;*/
}

.contentContainer{
	background-color: rgba(255, 255, 255, .7);
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 160px; 
	margin-left: 160px;
	height: 700px;
	padding-right: 30px;
	padding-left: 30px;
	border: solid;
	border-width: 1px;
	border-color: #000033;
}

.row{
	text-align: center;
}

/*text for timer and question*/
.text{
	font-size: 30px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600 !important;
	color: #000033;
	padding-right: 20px;
	padding-left: 20px;
}

div > h1{
	font-size: 90px;
	margin-top: 55px;
	margin-bottom: 35px;
	font-family: 'Lora', serif;
	font-weight: 1000 !important;
	color: #000033;
	/*padding-bottom: 300px;*/
}
/*text for answers*/
.answerText{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	width: 30%;
	color: #000033;
	font-weight: 600 !important;
	/*margin: 0 auto;*/
}

#answer1,
#answer2,
#answer3,
#answer4{
	margin: 0 auto;
}

.answerText:hover{
	background-color: white;
	border: solid;
	border-color: black;
	border-width: 1.5px;
}

button{
	width: 200px;
	height: 50px;
	font-size: 25px !important;
	margin-top: 100px !important;
	background-color: #000033 !important;
	color: white !important;
	border-color: white !important;
	font-family: 'Roboto', sans-serif !important;
}

img{
	height: 350px;
	width: 550px;
}

.restart{
	margin-top: 100px !important;
}
